// COLORS
$primary-color: #c31432;
$secondary-color: #240b36;
$third-color: #ffffff;

$white-color: rgb(0, 0, 0);

$dark-grey: #000000;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 5rem;
$mid-font-size: 2.9rem;
